<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merci Milla ♥</title>
</head>
<style>body {
    font-size: 48px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
p {
    width: 75%;
    text-align: center;
}
</style>
<body>
    <h1>Merci Mila pour tout !!</h1>
    <p>Merci Mila pour tout ce que tu nous appris, mais également pour tout ce que tu as fait pour notre classe. Toujours là, prêt à nous aider, merci</p>
</body>
</html>