<!DOCTYPE html>

<html lang="fr">

<head>
    <meta name="" description="" content="">
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <main class="pixel">

        bon je vais ecrire mon message ici vus que sa veux pas telecharger le fichier

        <br>

        merci mila, merci de m'avoir donner gout au code et de m'avoir apris tant de chose
        la pire des chose que j'aurai pu entendre cette année c'est ton depart a nouveaux,
        deja que c'etait epprouvant de supporter ton depart en premiere année tu a du nous laisser avec thomas
        ce qui m'a fais frainer mon envie d'apprendre a edenschool
        et voila qu'a peine arriver en deuxieme année tu nous annonce ta demission
        je voulais pas et je ne veux pas que tu parte et que tu nous laisse encore avec un nouvel inconnu
        ta pédagogie est unique tu a reussit a me faire apprendre des chose que je m'aurais jamais cru capable 
        mais bon je ne peux pas te forcer a rester si tu a decider de partir je ne peux que respecter ta decision
        malgrer ton depart je souhaite de tous mon coeur pouvoir rester en contact avec toi pour pouvoir te faire par de l'avancé de nebula qui etait lui meme edenflix 
        ce projet que tu m'a donner envie de lancer avec houdy et thomas encore une une fois merci mila de m'avoir donner envie de faire des projets,
        de m'avoir donner gout a la tech, de m'avoir donner confiance en mes compétences, de m'avoir sauver a l'inscription d'edenschool quand j'ai mal lus les consignes 
        et d'avoir été comprhéensive quand j'arrivais en retard 

        en bref merci beaucoup 

        Theo

        voila des site qu'on a pu realiser grace a ce que tu nous a appris : 

        https://nebula-agency.fr/
        https://nebula-stream.fr/
    </main>

</body>

</html>