<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mila Goat</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="mila">
        <div class="image-gallery">
            <img src="assets/img/cat-1.jpg" alt="Image 1">
            <img src="assets/img/cat-4.jpg" alt="Image 4">
            <img src="assets/img/cat-2.jpg" alt="Image 3">
            <img src="assets/img/cat-3.jpg" alt="Image 2">
        </div>
    </div>
    <div class="text">
        <h1>Merci pour ces deux années superbe Mila !<br>Tu vas tous nous manquer c'est sur, tu nous manques déjà !<br>
            En
            espérant que tu retrouves vite quelque chose qui te plait.<br> Au plaisir de te reparler et te revoir après
            ton
            départ.
            <br> Encore une fois mille merci pour tout.
        </h1>
    </div>
    <div class="ps">
        <p>Oui j'avoue je suis me suis aidé de GPT 🤣🤣🤣</p>
    </div>
</body>
<script src="assets/js/js.js"></script>

</html>