<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merci Mila</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <canvas id="matrix"></canvas>
    <div class="wrapper-index">
        <p>i</p>
        <div class="index">Tape : MILA</div>
    </div>
    <div class="card">
        <h1>Mila, Merci !</h1>
        <p>
            Merci infiniment, Mila, pour ces deux années où tu as partagé avec nous ta passion : 
            <span class="highlight">le développement web</span>.
        </p>
        <p>
            Grâce à toi, venir en cours n’était pas une simple obligation, mais un véritable plaisir. 
            Tu as réussi à me redonner goût à l'école et aux études.
        </p>
        <p>
            Quand je suis arrivé, je ne connaissais rien au développement. Mais aujourd’hui, je suis un vrai pro (ou presque), et c’est en grande partie grâce à toi.
        </p>
        <p>
            J’étais triste de te perdre l’année dernière, ravi de te retrouver cette année, mais malheureusement, cette fois, c’est fini.
        </p>
        <p>
            J’espère que tu trouveras bientôt quelque chose qui te passionnera autant.
        </p>
        <p>
            Mila, tu as été une professeure exceptionnelle, et je te souhaite tout le meilleur pour la suite. 
            Encore une fois, merci du fond du cœur !
        </p>
        <p>
            Augustin
        </p>
        <p class="ps">P.S. : Fais une caresse à Merlin et Pixel de ma part. 🐾</p>
    </div>
    <div class="card easter-egg hidden">
        <img class="best-logo" src="assets/img/logo-mila.png" alt="Ton magnifique logo">
        <h2>À jamais dans nos cœurs <img class="svg" src="assets/img/sad.svg" alt="Revient Mila"></h2>
    </div>
    <script src="assets/js/script.js"></script>
</body>
</html>
