<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chez Lilas</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="./css/style.css">

</head>

<body>
  <header>

    <img src="./img/discoBall.gif" class="slideInGif">
  </header>



  <main>

    <section class="home">
      <div class="container">

        <span>
          <div>Turn off the light !</div>
        </span>

      </div>
    </section>






    <footer>
      <div class="button" id="theme-switch"> <a href="message.html"><img src="./img/switchButton.png" alt="switch"></a>
      </div>
    </footer>



</body>

</html>