.diapo-item {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
}

h1 {
    font-size: 5rem;
}

p {
    font-size: 2rem;
}

h1, p {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.msg {
    background-color: rgba(32, 32, 32, 0.822);
}