<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="assets/css/normalize.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <title>Cadeau Nathan</title>
</head>

<body
    class="vh-100 bg-dark text-light text-center user-select-none d-flex flex-column justify-content-center align-items-center">

    <div class="p-2 w-50 msg">
        <h1>Merci !!!</h1>
        <p>Bon, j'avais pas trop d'idée de truc stylée a mettre sur la page,
            mais merci d'avoir été une super prof peadant 1 an au total <br> (je sais faire des math mtn, et pas grace a
            plt.pyplot),
            ducoup vu que j'ai pas d'idée de quoi mettre, voila un magnifique diapo d'image random que j'ai trouvée sur
            google.
        </p>
    </div>


    <div id="diapo" class="diapo-cadre">
        <img src="assets/img/pikeur.jpg" alt="marteau picker" class="diapo-item">
        <img src="assets/img/pirequemafe.jpg" alt="le plat douteux" class="diapo-item">
        <img src="assets/img/thoma.png" alt="thoma" class="diapo-item">
        <img src="assets/img/puant.jpg" alt="puanteur" class="diapo-item">
        <img src="assets/img/cramptée.jpg" alt="puanteur" class="diapo-item">
        <img src="assets/img/lez.avif" alt="puanteur" class="diapo-item">
        <img src="assets/img/psy.jpg" alt="puanteur" class="diapo-item">
        <img src="assets/img/oui.jpg" alt="puanteur" class="diapo-item">
        <img src="assets/img/paulok.jpg" alt="puanteur" class="diapo-item">
        <img src="assets/img/bogtox.jpg" alt="puanteur" class="diapo-item">
        <img src="assets/img/macon.jpg" alt="puanteur" class="diapo-item">
        <img src="assets/img/obama.webp" alt="puanteur" class="diapo-item">
        <img src="assets/img/chat.png" alt="puanteur" class="diapo-item">
        <img src="assets/img/nye.png" alt="puanteur" class="diapo-item">
        <img src="assets/img/couille.jpg" alt="puanteur" class="diapo-item">
        <img src="assets/img/danton.png" alt="puanteur" class="diapo-item">
        <img src="assets/img/hihi.png" alt="puanteur" class="diapo-item">
        <img src="assets/img/mat.png" alt="puanteur" class="diapo-item">
        <img src="assets/img/floopa.jpg" alt="puanteur" class="diapo-item">
        <img src="assets/img/leon.jpg" alt="puanteur" class="diapo-item">
    </div>

    <!-- Framework -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

    <script src="assets/js/app.js"></script>
</body>

</html>