<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
</head>

<body>

    <main>
        <div class="container">
            <header>
                <h1>Merci Mila !</h1>
            </header>
            <section class="letter">
                <p class="line">Merci d'avoir "codé" nos cerveaux avec patience et passion !</p> <br>
                <p class="line">Vous avez su nous guider à travers les lignes de code de l'apprentissage,</p>
                <p class="line">et même quand on bugguait, vous trouviez toujours la solution.</p> <br>
                <p class="line">Vous êtes la "fonction" qu'on n'oubliera jamais.</p>
                <p class="line">Bonne chance pour la suite et que vos projets soient aussi réussis que vos cours !</p><br>
                <p class="line">Merci encore,</p>
                <p class="line">Jules Neveu</p>
            </section>
        </div>
    </main>

    <script src="assets/js/app.js"></script>
    <script src="https://kit.fontawesome.com/9761a3ceb3.js" crossorigin="anonymous"></script>

</body>

</html>