<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="icon" href="./assets/img/chat/triste-removebg-preview.png">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Thomas Galabert">

  <meta property="og:locale" content="fr_FR" />
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">

  <title>GoodBye Mila...</title>

  <!--link style-->
  <link rel="stylesheet" href="./assets/style/normalize.css">
  <link rel="stylesheet" href="./assets/style/style.css">
  <link rel="stylesheet" href="./assets/style/root.css">

  <!--icon and animation-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

  <main>
    <div class="carte-global-container">
      <div class="container">
        <img src="./assets/img/chat/triste-removebg-preview.png">
        <h2>
          10 Décembre 2024, <br>la fin d'une grande histoire...
        </h2>
        <p>Retracons ensemble, l'histoire de la meilleure prof de tech...</p>

        <a class="btn-skip">Découvrir <i class="ri-arrow-right-line"></i></a>
      </div>
    </div>


    <div class="slide-1">
      <div class="container-slide-1">
        <img src="./assets/img/chat/joie-removebg-preview.png">
        <h2>Un parcours exceptionnel...</h2>
        <p class="parc">
          Mila, ton parcours est une véritable source d’inspiration.<br> Depuis plus de cinq ans, tu as marqué Eden
          School de ton énergie et de ta passion avec un engagement sans faille. Ton souci du détail et ta bienveillance
          ont fait de toi bien plus qu’une enseignante : un véritable pilier pour les élèves.

          Avant de rejoindre Eden School, tu as su te distinguer dans des domaines variés et exigeants. Chef de projet
          web, formatrice en développement, juriste… ton chemin est riche et impressionnant. Chacune de ces étapes
          témoigne de ta polyvalence et de ta détermination, mais surtout de ta capacité à toujours donner le meilleur
          de toi-même.
          <br>
          Aujourd’hui, alors que tu t’apprêtes à écrire un nouveau chapitre, une nouvelle page dans ta vie, sache que
          ton passage ici restera gravé dans nos cœurs. Tu nous laisses un héritage précieux : l’exemple d’une femme
          passionnée, talentueuse et profondément humaine. Merci pour tout ce que tu as apporté. ❤️
        </p>
      </div>
      <div class="flex-compart">
        <div class="container-slide-1-2">
          <p class="parc">Aujourd'hui, bien que je ne fasse plus partie de l'école, sache que tu n’as pas seulement été
            une prof, tu as
            été une source d’inspiration, quelqu’un qui a cru en moi et m’a donné la motivation de reprendre l’école. Je
            te dois énormément, Mila, et sache que je t’apprécie profondément. Ton énergie, ta passion et ta
            bienveillance resteront gravées dans mon cœur. Merci pour tout ce que tu as fait pour moi et pour tant
            d’autres. ❤️</p>
        </div>
        <img
          src="https://media.licdn.com/dms/image/v2/D4E22AQG9mAmHFwyNSA/feedshare-shrink_800/feedshare-shrink_800/0/1694600826293?e=2147483647&v=beta&t=tU03Ncp4qc9bgXB0zdhFI4GIhScJVTEy0RFM5MZwrZY                  "
          alt="">


      </div>
      <a class="btn-skip-2">Suivent <i class="ri-arrow-right-line"></i></a>
    </div>

    <div class="slide-2">
      <div class="container-slide-1 sld-2">
        <h2>La bèlle époque...</h2>
        <p class="parc">
          <img src="./assets/img/chat/tristoune-removebg-preview.png" class="tristoune">
          
          En septembre 2023, je rejoins EDEN School, les étoiles remplissant mes yeux et la chaleur emplissant mon
          cœur.
          Tu nous enseignes alors la tech, comme si toute ta vie tournait autour de cette matière... Toi, ta
          pédagogie, ta bienveillance et ta détermination m'ont fait adorer plus que jamais le code, qui deviendra par
          la suite mon plus grand centre d'intérêt.
          Mais alors que l'année se déroule pour le mieux, une nouvelle inattendue surgit de nulle part : Sybil quitte
          EDEN School. Tu prends alors sa place, laissant derrière toi une classe qui t'adorait. Nous apprenons
          ensuite l'arrivée de notre nouvel "enseignant" : Thomas, qui, par la suite, bouleversera tout...

          <br><br>
          Janvier 2024 : Nous rencontrons notre nouveau prof. Nous étions loin de nous imaginer que, par la suite, il
          serait amené, lui comme d'autres, à te faire quitter l'école, toi qui pourtant chérissais l'enseignement que
          tu nous avais transmis.
          <br>
          Erreurs sur erreurs, mes retards s'accumulent en JavaScript, et je commence à baisser les bras : tu n'étais
          plus là pour me motiver et me redonner confiance en moi... Je suis alors perdu.
          Faute de motivation, je me laisse petit à petit tomber, le niveau devenant trop élevé, je baisse les bras...
          <br>
          Problèmes sur problèmes, mon comportement continue de se dégrader, bien que ma passion et mon envie restent
          plus fortes que jamais. J'étais passé du meilleur enseignement à un enseignement qui ne m'était plus du tout
          adapté, j'ai perdu la confiance que j'avais gagnée, et j'ai réellement été dégoûté du code à ce moment-là...
          <br><br>
        </p>

        <h2>Fort heureusement...</h2>

        <p class="parc">
          Aujourd’hui, je suis heureux. Je continue à coder avec Théo et Houdy, sur des projets toujours plus fous et
          ambitieux les uns que les autres, qui verront prochainement le jour officiellement. Je te remercie du plus
          profond de mon cœur pour tout ce que tu as su m'apporter pendant ces quelques mois en première année.
          J'espère que, malgré mon année moyenne, tu gardes la même image de moi qu'au début de l'année, car je ne
          suis rien d'autre qu'un enfant motivé à réussir dans la tech...
        </p>

      </div>

    </div>



  </main>

  <footer>
    <p>By Thomas Galabert</p>
  </footer>



  <!--animation-->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!--script-->
  <script src="./assets/script/app.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>